<!DOCTYPE html>
<html>
<head>
  <title>Criar Variável</title>
</head>
<body>
  <h1>Criar Variável</h1>
  <form action="/create-variable" method="post">
    <label for="name">Nome da Variável:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="value">Valor:</label>
    <input type="text" id="value" name="value" required><br>

    <input type="hidden" name="botId" value="<%= user.botId %>"> <!-- Suponha que você tenha uma propriedade 'botId' no objeto 'user' -->
    <button type="submit">Criar Variável</button>
  </form>
  <a href="/dashboard">Voltar ao Dashboard</a>
</body>
</html>
