<!DOCTYPE html>
<html>
<head>
  <title>Iniciar Aplicação do Bot</title>
</head>
<body>
  <h1>Iniciar Aplicação do Bot</h1>
  <form action="/start-bot/<%= bot._id %>" method="get">
    <button type="submit">Iniciar Bot</button>
  </form>
  <a href="/dashboard">Voltar ao Dashboard</a>
</body>
</html>
